.player-container {
    height: 100%;
    width: 77%;
    display: inline-flex;
    flex-direction: column;
    background: rgb(25, 29, 33);
}

.media-container {
    height: 90%;
    background: rgb(7, 8, 9);
    padding: 12px;
}

.media-container .video-js {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-menu {
    display: inline-flex;
    width: 100%;
    height: 9.5%;
    margin: 0;
    padding: 12px 28px;
    color: rgb(217, 219, 221);
}

.player-menu > li {
    list-style: none;
}

#movie-title {
    color: rgb(215, 215, 215);
    list-style: none;
    font-weight: bold;
    font-size: 28px;
    cursor: default;
}

#new-movie {
    height: 38px;
    margin-left: 16px;
    margin-top: 5px;
    background: #6c63ff;
}

#new-movie > div {
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

#expand {
    font-size: 26px;
    margin: 5px 5px 0 20px;
    cursor: pointer;
}

.chat-box {
    height: 100%;
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    background: rgb(17, 20, 23);
    overflow: hidden;
}

.chat-box > .header {
    height: 100px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    padding-right: 10px;
    background: rgb(22 25 28);
}

.chat-box > .header > .desc {
    padding: 16px 16px 16px 24px;
    flex: 1;
}

#leave, #power-off {
    height: 100%;
    color: rgb(200, 200, 200);
    font-size: 22px;
    padding: 36px 10px;
    cursor: pointer;
}

.media-box-desc {
    display: inline-flex;
    flex-direction: row;
}

#media-box-name {
    color: rgb(200, 200, 200);
    font-size: 24px;
    font-weight: bold;
    cursor: default;
}

#box-id {
    color: rgb(153, 153, 153);
    font-size: 18px;
    font-weight: bold;
    cursor: default;
    margin-top: 10px;
    margin-left: 7px;
    text-align: bottom;
}

.media-participant-count {
    display: flex;
    padding: 3px 2px;
    cursor: default;
}

.media-participant-count > svg {
    color: rgb(200, 200, 200);
    font-size: 14px;
    padding-top: 7px;
    padding-right: 6px;
}

#participant-value {
    color: rgb(200, 200, 200);
    font-size: 18px;
    padding-left: 2px;
    font-weight: bold;
}

.tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    flex: 1;
}

.tab-content.active {
    display: block;
}

.tabcontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.tab-list {
    flex: 1;
    padding: 12px 24px;
}

.message-tab-content > div {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.message-box {
    overflow-y: scroll;
}

.message-box::-webkit-scrollbar {
    display: none;
}

.message-box > .message {
    color: rgb(165, 175, 186);
    margin-bottom: 2px;
    list-style: none;
    font-size: 16px;
    padding: 0 8px;
    max-width: 85%;
    word-wrap: break-word;
    justify-self: flex-end;
}

.message-box > .sender {
    color: rgb(165, 175, 186);
    margin: 2px 0;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    cursor: default;
    justify-self: flex-end;
}

.message-box > .user-sent {
    justify-self: flex-start;
}

.message-input {
    width: 100%;
    display: inline-flex;
    padding: 20px;
    padding-bottom: 3px;
}

.message-input > input {
    flex: 1;
    border: 0;
    background: rgb(17, 20, 23);
    border-bottom: 3px solid rgb(188, 198, 209);
    color: rgb(188, 198, 209);
    caret-color: white;
}

.message-input > input:focus {
    outline-width: 0;
}

.message-input > svg {
    width: 20px;
    color: rgb(196, 207, 217);
    font-size: 28px;
    margin-left: 18px;
    cursor: pointer;
}

.member-box {
    padding: 0;
}

.member-tab-content > div {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.member-box {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.member-box::-webkit-scrollbar {
    display: none;
}

.member-box > .member-item {
    display: inline-flex;
    flex-direction: row;
    background: rgb(24, 30, 36);
    height: 4.5rem;
    width: 100%;
}

.member-box.auth > .member-item > .after {
    box-sizing: border-box;
    position: absolute;
    right: -6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 6rem;
    padding: 0 1.9rem;
    background: #d9534f;
    transition: right 0.2s ease;
    cursor: pointer;
}

.member-box > .member-item.owner > .after {
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    padding: 0 1.1rem;
    margin-right: 13px;
    color: #e7cb5a;
    background: none;
    cursor: default;
}

.member-box.auth > .member-item:hover > .after {
    right: 0;
}

.member-box > .member-item > .icon {
    display: flex;
    width: 20%;
    height: 100%;
}

.member-box > .member-item > .icon > svg {
    font-size: 2.5rem;
    color: rgb(196, 207, 217);
    margin: auto;
}

.member-box > .member-item > .title {
    margin: auto 0.1rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(196, 207, 217);
    flex: 1;
}

/* Box tab */
.tabs {
    background: rgb(7, 9, 14);
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 11%;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
}

.tabs > .tab {
    display: flex;
    background: none;
    flex: 1;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.tabs > .tab.active {
    background-color: rgb(17, 20, 23);
    flex: 1.5;
    transition: 0.3s ease;
    overflow: hidden;
}

.tabs > .chat-tab.active {
    border-bottom-right-radius: 3rem; 
}

.tabs > .member-tab.active {
    border-bottom-left-radius: 3rem; 
}

.tabs > .tab > svg {
    margin: auto;
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(196, 207, 217);
}

/* Movie search */
.movie-search {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: rgb(7, 8, 9);
}

#movie-query-input {    
    height: 70px;
    padding: 0 30px;
    background: #d3d3d3;
    outline: none;
    border: none;
    font-size: 20px;
    margin: 30px 40px 0px 40px;
}

#movie-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 35px 30px 15px 30px;
    background: rgb(7, 8, 9);
    overflow-y: auto;
}

.movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    background-color: rgb(7, 8, 9);
    cursor: pointer;
    max-height: 420px;
}

.movie-item:hover {
    background-color: rgb(19, 22, 26);
    transform: translateY(-5px);
}

.movie-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

.movie-item h3 {
    font-size: 18px;
    color: #f4f4f4;
    margin: 10px 0 0;
    font-weight: 700; 
    text-align: center;
}

.movie-item .movie-id {
    display: none;
}

#movie-grid::-webkit-scrollbar {
    display: none;
}